<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add item</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form class="newItem" novalidate>
                <div class="form-group">
                    <label for="newItemName">Name</label>
                    <input type="text" class="form-control" id="newItemName" required>
                    <div class="invalid-feedback">
                        Name of item is required.
                    </div>
                </div>

                <div class="form-group">
                    <label for="newItemQty">Quantity</label>
                    <input type="number" min="0" step="1" class="form-control" id="newItemQty" required>
                    <div class="invalid-feedback">
                        Quantity of item is required.
                    </div>
                </div>

                <div class="form-group">
                    <label for="newItemAmount">Amount</label>
                    <input type="number" min="0" step="any" class="form-control" id="newItemAmount" required>
                    <div class="invalid-feedback">
                        Amount of item is required.
                    </div>
                </div>

                <button type="submit" class="btn btn-primary add-item" >Add item</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </form>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div> -->
      </div>
    </div>
  </div>