<!doctype html>
<html lang="en">
  <head>
    <%- include('../partials/stylesheets') %>
    <title><%= title %></title>
  </head>
  <body>
    <%- include('../partials/navbar') %>
    <div class="container-fluid">
    </div>


    <%- include('../partials/bootstrap_js') %>
  </body>
</html>