[Unit]
Description=Questronix Coding Exam Sample Application
Requires=network-online.target
After=network-online.target

[Service]
ExecStart=/bin/sh /usr/local/bin/run_questronix_app.sh

[Install]
WantedBy=multi-user.target